.dropdown {
  display: inline-block;
}

.dropdownOptions {
  position: absolute;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  right: 10px;
  min-width: 200px;
  z-index: 333;
}

.dropdownChildItem {
  color: #000;
  padding: 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.profileBtn {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;

  & span + span {
    margin-right: 20px;
  }
}

.profileArrow {
  margin-left: 10px;
}
