.mainContentLeft {
  flex-basis: 20%;
  background: linear-gradient(
      270deg,
      rgba(255, 248, 251, 0.5) 6.02%,
      rgba(255, 247, 250, 0.5) 45.61%,
      rgba(240, 237, 248, 0.5) 95.91%
    ),
    #f0edf8;
  border-radius: 8px 8px 0px 0px;
  padding: 10px;
  overflow-y: scroll;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(141, 153, 172, 0.34);
  }
}
